* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
} 

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  overflow-y: scroll; 
}

/* Hide scrollbar for Chrome, Safari and Opera 
body::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox 
body {

  -ms-overflow-style: none;  
  scrollbar-width: none;  
 
}*/

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 150px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

a {
  text-decoration: none;
  color: inherit; 
}

.centred{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* ----------------------------------------*/
/* Main */

.container{
  display: flex;
  flex-direction: column;
  
  width:100%;


  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
  .container > div{
    width: 100%;
    min-height: 100svh;
    scroll-snap-align: center;
  }



/* --------- HOME -------- */

#home-page{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: url("/images/strlokbk.png") no-repeat center center;
  background-size: cover;
  
  
  color: #fafafa;
  font-family: 'Lora';

}
    
    .home-center{
      display: flex;
      
      margin-left: 8rem;
      margin-top:6rem;
      



      /*box-shadow: -1px 2px 10px 7px #121212ba;
      background-color: #1e1e1e7d;*/
    
    }

      .home-center-content{
        display: flex;
        flex-direction: column;

        
      }

        .home-center-title{
          display: flex;
          flex-direction: column;
          width: max-content;

          font-size: 3.2rem;
          font-weight: 500;
          letter-spacing: 0.6em;
          line-height: 1.5em;
          color:#fafafa;

        }
            .white-bg{
              display: flex;
              flex-direction: column;
              height: max-content;
              
              position:absolute;

              margin-left:-0.2em;
              padding-left: 0.2em;

              line-height: 1.28em;

              color: #2f2f2f;
              background-color: #fafafa;
            }
              .home-info{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: 0.3em;
                line-height: 1.6em;

                opacity:0;
                height: 0;
                
                transition: height 0.7s, opacity 0.3s;
              }

                    .white-bg .active{
        
                      opacity: 100;
                      height: 10.5rem;
                      transition: height 0.8s, opacity 0.6s ease-in;
                      
                    }

        .home-center-text{
          display: flex;
          text-align: justify;

          width: 65%;

          margin-top:2.5rem;
          margin-bottom:5rem;
          
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.1em;
          line-height: 1.2rem;

        }
                .home-center-text > div {
                  display: flex;
                  flex-direction: column;
                  flex-grow:1;
                  gap:7rem;

                  width: 0;
                  height: auto;
                }

        .home-kontakt{
          display: flex;
          align-items: center;

          font-family: 'Sarabun';
        }

          .kontakt-text{
            display: flex;
            align-items: center;
            margin-left:2rem;
          }
              .kontakt-line{
                width: 0.17rem;
                
                font-size: 2.8rem;
                line-height: 1.28em;
        
                background-color: #fafafa
              }
              
              .kontakt-st{
                margin-left: 1.2rem;

                font-weight: 500;
              }

    .button{
      padding: 1.1rem 1.5rem;
      font-size:1.2rem;
      font-weight: 400;
      font-family: 'Sarabun', sans-serif;
    }

        .btn-kontakt{
          cursor: pointer;

          padding: 1.5rem 2rem;

          color: white;
          box-shadow: 0px 4px 12px 6px #1e1e1e;
          text-shadow: none;
          background: linear-gradient(45deg, rgb(118, 75, 75), rgb(148, 76, 76),  rgb(118, 58, 58));
        }
        

        .btn-home{  
          padding: 0.85rem 1.5rem;

          cursor: default;

          color: #1e1e1e;
          background-color: #fafafa;
        }


    .home-bottom{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
      .nav{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1.5rem auto;
      gap:3rem;
      }
      .nav .button{
        font-size: 1.1rem;
        font-weight: 400;
      }
    .home-bottom-line{
      width: 100%;

      border-top: 0.2em solid #fafafa89;

    }

    .bottom-end{
      flex-direction: column;

      width: 100%;
      height: max-content;

      padding-top: 1.2rem;

      /background-color: #fafafa10;
      /backdrop-filter: blur(1px);
    }

        .arrow-title{
            display: flex;
            align-items: center;
            width: max-content;
            
            font-size: 1.6rem;
            font-weight: 400;
            border-radius: 2000px;
            letter-spacing: 0.05em;

            color:#ffffff;   

            opacity:0;
            height: 0;

            transition: padding 0.8s, opacity 0.4s ease-in-out;
        }
        .bottom-end:hover div{
          padding-bottom: 2rem;

          opacity:100;
          
          transition: padding 0.8s, opacity 0.8s ease-in-out; 
        }
       
        .bottom-end img{
          height: 1rem;
          margin-bottom: 0.9rem;
        }

      


#omnie {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fafafa;
  color: #1e1e1e;
  min-height: 100vh;
  
}


.omnie-center{
  display: flex;
  justify-content: center;
  align-items: center;


  margin:auto;

  font-size: 3rem;
  font-weight: 400;
  font-family: 'Lora';
}

  .omnie-center > div{

    
    
  }

#cennik{
  display: flex;
  justify-content: center;

  background: url("/images/cennik-tlo3.png") no-repeat center center;
  background-size: cover;

  padding-right: 5vw;
  font-family: 'Lora';
  color: white;
  font-weight: 400;
}

  .cennik-leftside{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
    .cennik-img{
      width: max-content;
      padding: 3rem;
    }
      .cennik-img img{
        width: 45rem;
      }

  .cennik-rightside{
    display: flex;
    flex-direction: column;

    background-color: #1e1e1e3d;
    backdrop-filter: blur(4px);

  }

    .cennik-title{
      flex-direction: column;
      margin-inline: auto;
      margin-top: 3.2rem;

      font-size: 1.8rem;
      font-weight: 500;
    }
        .cennik-title img{
          margin-top: 0.7rem;

          height: 1.8rem;
        }

    .ceny{
      display: flex;
      flex-direction: column;

      margin-top: 6rem;
      margin-left: -0.8rem;
      padding-right: 4.5rem;
    }

      .ceny-top{
        display: flex;
        gap:0.8rem;
        
        margin: 3.9rem 0 1.3rem;
      }
          .on{
            background-color: #236387;
          }
          .ona{
            background-color: #AF4545;
          }
      
            .cena-prostokat{
              width:4.1rem;
              height: 2.2rem;

              font-size: 1.4rem;
            }

            .cena-linia{
              width: 0.03em;
              
              padding: 0.13em;
            }

            .cena-nazwa{
              font-size: 1.5rem;
              background-color: none;
            }
      
      .ceny-content{
        display: flex;
        justify-content: space-between;
        width: 20rem;

        margin-inline:auto;
        padding-left: 6.3rem;

        font-size: 1rem;
      }
      .ceny-content div{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        gap:1.3rem;
      }

      .cena-uslugi{
        text-align: right;
      }




/*background: url("/images/tlo2.jpg") no-repeat center center fixed;
  background-size: cover;*/


/* --------- PHONE -------- */

@media only screen and (max-width:1100px){

  .home-center{
    margin-inline:auto;
  }
  .home-center-title{
    text-align: center;
    font-size: clamp(1rem, 7vw, 2.2rem);
  }
  .home-center-text{
    width:100%;
    margin-top: 4rem;
    margin-inline: 0;

    font-size: clamp(0.6rem, 8vw, 1rem);

    text-shadow: -1px 1px 3px black;
  }
  .home-info{
    font-size: clamp(0.8rem, 8vw, 1.2rem);
  }
  .home-kontakt{
    justify-content: center;
    margin:auto;
  }
  .white-bg .active{
    height: 8rem;
  }
  .btn-kontakt{
    font-size: 1rem;
    padding: 1.4rem 2rem;
  }

  #cennik{
    padding: 0;
  }
  .cennik-leftside{
    display: none;
  }

  .cennik{
    justify-content: center;
  }

  /*
    .ceny{
      display: flex;
      flex-direction: column;
      gap:1rem;
  
      width: 100%;
      margin: 0;
    }
      .ceny-top{
        display: flex;
        gap:0.6rem;
        
        margin: 2rem 0 1rem -8%;
      }
          .on{
            background-color: #236387;
          }
          .ona{
            background-color: #AF4545;
          }
      
            .cena-prostokat{
              width:4rem;
              height: 2rem;
  
              font-size: 1.2rem;
            }
  
            .cena-linia{
              width: 0.01em;
              
              padding: 0.1em;
            }
  
            .cena-nazwa{
              font-size: 1.1rem;
              background-color: none;
            }
      
      .ceny-content{
        display: flex;
        justify-content: space-between;
  
        width: 56%;
  
        margin-inline:auto;
        padding-left: 0.2rem;
  
        font-size: 0.8rem;
      }
      .ceny-content div{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
  
        gap:1rem;
      }
  
      .cena-uslugi{
        text-align: right;
      }
*/
}

